<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog" (onHidden)="closeModal()">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-error">

        <div class="modal-error-header">
            <fa-icon [icon]="iconTimes"></fa-icon>
        </div>

        <div class="modal-body modal-error-error">
            <h4 class="modal-error-error-title">
                ¡Algo ha ocurrido!
            </h4>

            <hr>

            <div *ngFor="let error of errorList" class="modal-error-error-list">
                <ng-container [ngSwitch]="error">
                    <span *ngSwitchCase="1000 || 1001">
                        Se ha acabado su sesion.
                    </span>
                    <span *ngSwitchDefault>
                        Ha ocurrido un error
                    </span>
                </ng-container>
            </div>
        </div>

        <div class="modal-error-error-actions">
            <button type="button" (click)="closeModal()" *ngIf="!redirectTologIn"
                class="btn btn-danger">
                Cerrar
            </button>
            <button *ngIf="redirectTologIn" [routerLink]="'login'" (click)="goLogin()" type="button"
                class="btn btn-danger">
                Volver a ingresar
            </button>
        </div>

      </div>
    </div>
</div>