<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog" (onHidden)="closeModal()">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-error">

        <div class="modal-error-header">
            <fa-icon [icon]="iconTimes"></fa-icon>
        </div>

        <div class="modal-body modal-error-error">
            <h4 class="modal-error-error-title">
                ¡Algo ha ocurrido!
            </h4>

            <hr>

            <p>
                {{error}}
            </p>
        </div>

        <div class="modal-error-error-actions">
            <button type="button" (click)="closeModal()"
                class="btn btn-danger">
                Cerrar
            </button>
        </div>

      </div>
    </div>
</div>