<ng-container *ngIf="loading; else elementsPanel">
  <div class="panel-loading">
    <h4 class="panel-loading-title">
        ¡Cargando!
    </h4>
    <div class="panel-loading-icon"></div>
</div>
</ng-container>

<ng-template #elementsPanel>
  <div class="overview-boxes">

    <a class="box" routerLink="register"
      *ngIf="userInfo?.rol === 'SUPERVISOR_ROLE'">
      <div class="right-side">
        <div class="box-topic">
            Registrar Horario Operarios
        </div>
        <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">
                De entrada
            </span>
        </div>
      </div>
      
        <i class='bx bx-cart-alt cart'>
            <fa-icon [icon]="icons.calendar"></fa-icon>
        </i>
    </a>
  
    <a class="box"
      *ngIf="userInfo?.rol === 'SUPERVISOR_ROLE'">
      <div class="right-side">
        <div class="box-topic">
            Estaciones Asignadas
        </div>
        <div class="indicator">
          <i class='bx bx-up-arrow-alt'></i>
          <span class="text">Listado estaciones</span>
        </div>
      </div>
      <i class='bx bxs-cart-add cart two'>
        <fa-icon [icon]="icons.bus"></fa-icon>
      </i>
    </a>
  
    <a class="box"
      *ngIf="userInfo?.rol === 'SUPERVISOR_ROLE'">
      <div class="right-side">
        <div class="box-topic">
            Visualizar Fallas Operarios
        </div>
        <div class="indicator">
          <i class='bx bx-up-arrow-alt'></i>
          <span class="text">Listado ausencias</span>
        </div>
      </div>
      <i class='bx bx-cart cart three'>
        <fa-icon [icon]="icons.failure"></fa-icon>
      </i>
    </a>
  
    <a class="box"
      *ngIf="userInfo?.rol === 'HUMAN_RESOURCES_ROLE'">
      <div class="right-side">
        <div class="box-topic">
            Generar Reportes Operarios
        </div>
        <div class="indicator">
          <i class='bx bx-down-arrow-alt down'></i>
          <span class="text">Formato PDF</span>
        </div>
      </div>
      <i class='bx bxs-cart-download cart four'>
        <fa-icon [icon]="icons.filedownload"></fa-icon>
      </i>
    </a>
  
    <a class="box"
      *ngIf="userInfo?.rol === 'SUPERVISOR_ROLE'">
      <div class="right-side">
        <div class="box-topic">
            Ver Personal Asignado
        </div>
        <div class="indicator">
          <i class='bx bx-down-arrow-alt down'></i>
          <span class="text">Listado personal</span>
        </div>
      </div>
      <i class='bx bxs-cart-download cart four'>
        <fa-icon [icon]="icons.group"></fa-icon>
      </i>
    </a>
  
    <a class="box"
      *ngIf="userInfo?.rol === 'ADMIN_ROLE'">
      <div class="right-side">
        <div class="box-topic">
            Crear Un Nuevo Usuario
        </div>
        <div class="indicator">
          <i class='bx bx-down-arrow-alt down'></i>
          <span class="text">Con rol en especifico</span>
        </div>
      </div>
      <i class='bx bxs-cart-download cart three'>
        <fa-icon [icon]="icons.addPerson"></fa-icon>
      </i>
    </a>
  
    <a class="box"
      *ngIf="userInfo?.rol === 'ADMIN_ROLE'">
      <div class="right-side">
        <div class="box-topic">
          Crear Una Nueva Estacion
        </div>
        <div class="indicator">
          <i class='bx bx-down-arrow-alt down'></i>
          <span class="text">Asignandole personal</span>
        </div>
      </div>
      <i class='bx bxs-cart-download cart two'>
        <fa-icon [icon]="icons.addStation"></fa-icon>
      </i>
    </a>
  
    <a class="box"
      *ngIf="userInfo?.rol === 'SUPERVISOR_ROLE'">
      <div class="right-side">
        <div class="box-topic">
          Verificar Historial Ingresos
        </div>
        <div class="indicator">
          <i class='bx bx-down-arrow-alt down'></i>
          <span class="text">Listado historial</span>
        </div>
      </div>
      <i class='bx bxs-cart-download cart one'>
        <fa-icon [icon]="icons.list"></fa-icon>
      </i>
    </a>
  
    <a class="box"
      *ngIf="userInfo?.rol === 'OPERATOR_ROLE'">
      <div class="right-side">
        <div class="box-topic">
          Verificar Estacion Asignada
        </div>
        <div class="indicator">
          <i class='bx bx-down-arrow-alt down'></i>
          <span class="text">Ver estacion de trabajo</span>
        </div>
      </div>
      <i class='bx bxs-cart-download cart four'>
        <fa-icon [icon]="icons.workstation"></fa-icon>
      </i>
    </a>
  
    <a class="box"
      *ngIf="userInfo?.rol === 'OPERATOR_ROLE'">
      <div class="right-side">
        <div class="box-topic">
          Verificar Supervisor Asignado
        </div>
        <div class="indicator">
          <i class='bx bx-down-arrow-alt down'></i>
          <span class="text">Ver jefe inmediato</span>
        </div>
      </div>
      <i class='bx bxs-cart-download cart two'>
        <fa-icon [icon]="icons.boss"></fa-icon>
      </i>
    </a>
  
    <a class="box"
      *ngIf="userInfo?.rol === 'ADMIN_ROLE'">
      <div class="right-side">
        <div class="box-topic">
          Crear Un Nuevo Rol
        </div>
        <div class="indicator">
          <i class='bx bx-down-arrow-alt down'></i>
          <span class="text">Agrega un rol nuevo</span>
        </div>
      </div>
      <i class='bx bxs-cart-download cart three'>
        <fa-icon [icon]="icons.addPerson"></fa-icon>
      </i>
    </a>
  
    <a class="box"
      *ngIf="userInfo?.rol === 'ADMIN_ROLE'">
      <div class="right-side">
        <div class="box-topic">
          Ver Listado De Estaciones
        </div>
        <div class="indicator">
          <i class='bx bx-down-arrow-alt down'></i>
          <span class="text">Edita o modifica una estacion</span>
        </div>
      </div>
      <i class='bx bxs-cart-download cart four'>
        <fa-icon [icon]="icons.edit"></fa-icon>
      </i>
    </a>
  
    <a class="box"
      *ngIf="userInfo?.rol === 'ADMIN_ROLE'">
      <div class="right-side">
        <div class="box-topic">
          Eliminar Un Usuario
        </div>
        <div class="indicator">
          <i class='bx bx-down-arrow-alt down'></i>
          <span class="text"></span>
        </div>
      </div>
      <i class='bx bxs-cart-download cart one'>
        <fa-icon [icon]="icons.delete"></fa-icon>
      </i>
    </a>

  </div>
</ng-template>


