
<div class="sidebar">
    <div class="logo-details">
      <fa-icon [icon]="icons.main"></fa-icon>
      <span class="logo_name">ControlApp</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#">
            <fa-icon [icon]="icons.profile"></fa-icon>
            <span class="links_name">
                Perfil
            </span>
          </a>
        </li>
        <li>
            <a href="#">
                <fa-icon [icon]="icons.message"></fa-icon>
                <span class="links_name">
                    Mensajes
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <fa-icon [icon]="icons.logout"></fa-icon>
                <span class="links_name">
                    Salir
                </span>
            </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'>
            <span class="dashboard">
                Panel
            </span>
        </i>
        
      </div>
      <div class="search-box">
        <input type="text" placeholder="Buscar...">
        <fa-icon [icon]="icons.search" class='bx bx-search'></fa-icon>
      </div>
      <div class="profile-details">
        <img src="images/profile.jpg">
        <span class="admin_name">
            Prem Shahi
        </span>
      </div>
    </nav>

    <div class="home-content">
      <div class="overview-boxes">

        <div class="box">
          <div class="right-side">
            <div class="box-topic">
                Registrar Horario Operarios
            </div>
            <div class="indicator">
                <i class='bx bx-up-arrow-alt'></i>
                <span class="text">
                    De entrada
                </span>
            </div>
          </div>
          
            <i class='bx bx-cart-alt cart'>
                <fa-icon [icon]="icons.calendar"></fa-icon>
            </i>
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">
                Estaciones Asignadas
            </div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Listado estaciones</span>
            </div>
          </div>
          <i class='bx bxs-cart-add cart two'>
            <fa-icon [icon]="icons.bus"></fa-icon>
          </i>
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">
                Visualizar Fallas Operarios
            </div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Listado ausencias</span>
            </div>
          </div>
          <i class='bx bx-cart cart three'>
            <fa-icon [icon]="icons.failure"></fa-icon>
          </i>
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">
                Generar Reportes Operarios
            </div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">Formato PDF</span>
            </div>
          </div>
          <i class='bx bxs-cart-download cart four'>
            <fa-icon [icon]="icons.filedownload"></fa-icon>
          </i>
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">
                Ver Personal Asignado
            </div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">Listado personal</span>
            </div>
          </div>
          <i class='bx bxs-cart-download cart four'>
            <fa-icon [icon]="icons.group"></fa-icon>
          </i>
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">
                Crear Un Nuevo Usuario
            </div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">Con rol en especifico</span>
            </div>
          </div>
          <i class='bx bxs-cart-download cart three'>
            <fa-icon [icon]="icons.addPerson"></fa-icon>
          </i>
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">
              Crear Una Nueva Estacion
            </div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">Asignandole personal</span>
            </div>
          </div>
          <i class='bx bxs-cart-download cart two'>
            <fa-icon [icon]="icons.addStation"></fa-icon>
          </i>
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">
              Verificar Historial Ingresos
            </div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">Listado historial</span>
            </div>
          </div>
          <i class='bx bxs-cart-download cart one'>
            <fa-icon [icon]="icons.list"></fa-icon>
          </i>
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">
              Verificar Estacion Asignada
            </div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">Ver estacion de trabajo</span>
            </div>
          </div>
          <i class='bx bxs-cart-download cart four'>
            <fa-icon [icon]="icons.workstation"></fa-icon>
          </i>
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">
              Verificar Supervisor Asignado
            </div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">Ver jefe inmediato</span>
            </div>
          </div>
          <i class='bx bxs-cart-download cart two'>
            <fa-icon [icon]="icons.boss"></fa-icon>
          </i>
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">
              Crear Un Nuevo Rol
            </div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">Agrega un rol nuevo</span>
            </div>
          </div>
          <i class='bx bxs-cart-download cart three'>
            <fa-icon [icon]="icons.addPerson"></fa-icon>
          </i>
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">
              Ver Listado De Estaciones
            </div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">Edita o modifica una estacion</span>
            </div>
          </div>
          <i class='bx bxs-cart-download cart four'>
            <fa-icon [icon]="icons.edit"></fa-icon>
          </i>
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">
              Eliminar Un Usuario
            </div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text"></span>
            </div>
          </div>
          <i class='bx bxs-cart-download cart one'>
            <fa-icon [icon]="icons.delete"></fa-icon>
          </i>
        </div>

      </div>
    </div>
</section>