body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
}

a, a:hover, body {
    text-decoration: none;
}

h1 {
    font: Bold 40px Ubuntu;
    letter-spacing: 0px;
}
  
h2 {
    font: Bold 32px Ubuntu;
    letter-spacing: 0px;
}
  
h3 {
    font: Bold 28px Ubuntu;
    letter-spacing: 0px;
}
  
h4 {
    font: Bold 28px Ubuntu;
    letter-spacing: 0px;
}
  
h5 {
    font-size: 20px;
    font-family: Ubuntu;
    font-weight: normal;
    letter-spacing: 0px;
}
  
h6 {
    font-size: 16px;
    font-family: Ubuntu;
    font-weight: normal;
    letter-spacing: 0px;
}

:root {
    --white: #ffffff;
    --black: #121212;
    --primary: #2b2e4a;
    --secondary: #e84545;
    --tertiary: #903749;
    --complementary: #53354a;
    --boder: #DEE2E6;
    --disabled: #6e6e6e;
}