<ng-container *ngIf="typeSchedule">
    <ng-container *ngIf="typeSchedule === 'ingress'; else exit">
        <app-register
            [schedule]="schedule$|async"
            [stations]="stations$|async"
            [loading]="loading$|async"
            [usersByStation]="usersByStation$|async"
            [idSelectedStation]="idSelectedStation$|async"
            [userInfo]="userInfo$|async"
            [record]="record$|async">
        </app-register>
    </ng-container>

    <ng-template #exit>

    </ng-template>
    

</ng-container>
